{% extends "base.html" %}


{% block content %}
<div class="container">
<div class="row">
<div class="col-md-10">
<h1 class="h1">New Worker</h1>
<br><br>
<form method="POST" class="post-form" action="/worker/new/" enctype="multipart/form-data" class="form-control" >{% csrf_token %}
{{ form.as_p }}



<button type="submit" class="save btn btn-de
fault btn-lg "> Save
</button>  <button type="refresh" class="save btn btn-de
fault btn-lg "> Cancel
</button>
<br><br><br><br><br>
</div>
</div>
</div>
{% endblock %}
