{% extends "base.html" %}



{% block sidebar %}

 	<p><a href="{% url 'worker_new' %}	">New Worker</a></li>
 	<p><a href="{% url 'worker_search' %}	">Search</a> </li>


 	<h3>Quick search</h3>
 	{% csrf_token %}

 	
 	Worker : <input type="text" id="wkr_search" name="wkr_search">

	<p>Results Here.....</p>

 	<div id='search-results'>

 	</div>

<h3> Search >> This would be chaged to quick search... Don't forget to do the explicit Search Page as well </h3>
{% endblock %}

















{% block content %}

	

	<h3 class="lead">Workers On This Platform</h3>
	<div class="section">
	  <div class="row">
		{% for worker in workers %}
		<p><div class="col-md-4">
			<a href="{% url 'worker_details' worker.id %}">
				{% if worker.profile_Picture %}
					<p><img src="{{ MEDIA_URL }}{{ worker.profile_Picture }}"   alt="Default Profile Picture" width="100" class="img-rounded img-responsive"></p>
					<p class="lead">{{ worker.first_name|capfirst }} {{ worker.last_name|capfirst }} : {{ worker.Main_job_description|capfirst }}  </p>
				{% endif %}
				
			</a>
			<p>{{ worker.likes }} pe{{ worker.likes|pluralize:"rson,ople" }} liked this</p>
		</p></div>
		{% endfor %}
		</div></div>
	</div>
	
{% endblock %}