{% extends "base.html" %}

 {% block navigation %}
 {% endblock %}


 {% block sidebar %}
 	<p><a href="{% url 'workers_list' %}	">Show all</a></li>
 	<p><a href="{% url 'worker_new' %}	">New Worker</a></li>
 	<p><a href="{% url 'worker_search' %}	">Search</a> </li>

<h3> Search >> This would be chaged to quick search... Don't forget to do the explicit Search Page as well </h3>
 {% endblock %}

 Don't forget to do a lot more research about the logical controls of the templating tags and the django=database filtering ORM together with jquery's onclick and onkeypress event handlers 












{% block content %}
	<a href="{% url 'workers_list' %}"> Back to Hompage </a>


	{% if worker.profile_Picture %}

	<p><a href="{{ MEDIA_URL }}{{ worker.profile_Picture }}">
		<img src="{{ MEDIA_URL }}{{ worker.profile_Picture }}"   alt="Default Profile Picture" width="200" height="200px" class="img-rounded img-responsive pull-left">
	</a></p>

	{% endif %}

	<h1 class="lead">Name: {{ worker.first_name }} {{ worker.last_name }}</h3>
	<h1 class="lead">Age: {{ worker.age }}</h4>
	<h1 class="lead">Gender: {{ worker.gender }}</h4>
	<h1 class="lead">Contact: {{ worker.Call_Number }}</h4>
	{% if worker.WhatsApp %}
	<h1 class="lead">WhatsApp: {{ worker.WhatsApp }}</h4>
	{% endif %}
	<h1 class="lead bold">Main Job Description: {{ worker.Main_job_description }}</h4>
	{% if worker.Other_jobs_description %}
	<h1 class="lead">Other Job Descriptions: {{ worker.Other_jobs_description }}</h4>
	{% endif %}
	<h1 class="lead">Region: {{ worker.Region }}</h4>
	<h1 class="lead">City: {{ worker.City_or_Town }}</h4>
	<h1 class="lead">About Me: {{ worker.bio }}</h4>
	
	<h1 class="lead">Joined on: {{ worker.date_joined|date:"D d M Y" }}</h4>
	


	<h1 class="lead">{{ worker.likes }} pe{{ worker.likes|pluralize:"rson,ople" }} liked this</h3>

	<p><a href="{% url 'worker_like' worker.id %}"  class="btn btn-info">like</a> || <a href="{% url 'worker_unlike' worker.id %}"  class="btn btn-danger" id="like_button">unlike</a></p>

	<p><a href="{% url 'worker_proof_page' worker.id %}" class="btn btn-info">Click here to Open the Proof Page.</a></p>
	

	
	

	



			

	<h2 class="lead"> Comments </h2>

	{% for c in worker.comment_set.all %}
	<p class="lead"> {{ c.name }} => {{ c.message }}
	
	<a href="{% url 'worker_delete_comment' c.id %}" class="btn btn-danger btn-lg" > Delete</a>
	
	



	</p>
	{% endfor %}

	<p class="lead"><a href="{% url 'worker_add_comment' worker.id %}" class="btn btn-success btn-lg"> Add Comment !</a> </p>

	<p><a href="{% url 'worker_add_proof' worker.id %}" class="btn btn-success btn-lg"> Add A Proof of Work</a>
		
	</p>



{% endblock %}



